/*
  @fileoverview 	main.css
 	Este bloque es para el menu principal de la izquierda, tiene un tamaño fijo y no colapsa nunca, ocupa aproxidamente 230px.
 
  @version                               1.0
 
  @author                 	Rafael Cuesta Ruiz (2021)
  @copyright           		Rafael Cuesta Ruiz (2021)
  ----
*/


/* Este bloque es para el menu principal de la izquierda, tiene un tamaño fijo y no colapsa nunca, ocupa aproxidamente 230px */

.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1030;
    padding:16px;
}

.navbar-no-collapse{

    flex-grow: 0;
    flex-direction: column;
    width: 100%;
}

.navbar.fixed-left {
    bottom: 0;
    width: 232px;
    flex-flow: column nowrap;
    align-items:flex-start
}

.navbar.fixed-left .navbar-no-collapse {
    flex-grow: 0;
    flex-direction: column;
    width:100%
}

.navbar.fixed-left .navbar-no-collapse .navbar-nav {
    flex-direction: column;
    width:100%
}

.navbar.fixed-left .navbar-no-collapse .navbar-nav .nav-item {
    width:100%
}

.navbar.fixed-left .navbar-no-collapse .navbar-nav .nav-item .dropdown-menu {
    top:0
}



.navbar.fixed-left {
    right:auto
}

.navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
    border-top: .3em solid transparent;
    border-left: .3em solid;
    border-bottom: .3em solid transparent;
    border-right: none;
    vertical-align:baseline
}



/* En esta columna se representan las puntuaciones del jugador, ocupa toda la pantalla en vertical*/

.colRanking{

  border-right: 4px solid black;
  border-left: 4px solid black;
  background-color: #a9abae;
  height: 100vh;
  overflow: auto;

}

/* En esta columna es donde vemos la interaccion de los jugadores */
.colGame{
  background-color: #f1f1f0;
}

/* El boton ocupa toda la columna */
.buttonRanking{
  width:100%;
}

/* El estilo de los botones, color y borde */
.buttonRankingPosiciones{
  background-color:#211c41 !important;
  border-color:#211c41 !important;
}

.buttonInitChallenge{
  background-color:#211c41 !important;
  border-color:#211c41 !important;
}

/* Cuenta atras del reto en curso */
.timeReimaning{
  color:#211c41;
  text-align: center;
}

/* Estilo de los botones de configuración */
.buttonRankingTemperatura{

  background-color:#3d1d46 !important;
  border-color:#3d1d46 !important;

}

.buttonUpdateName{
  background-color:#3d1d46 !important;
  border-color:#3d1d46 !important;

}

.buttonLoadProgram{
  background-color:#211c41 !important;
  border-color:#211c41 !important;
}

.buttonRankingLetras{

  background-color:#293f39 !important;
  border-color:#293f39 !important;

}

/* El titulo del reto actual, dejamos un margen superior */
.titleReto{
  margin-top:40px;
}

/* La descripción del reto actual */
.descriptionReto{

  padding:10px;
  font-style:italic;

}


/* Canvas/Lienzo del Jugador A y del Jugador B, aqui es donde se pinta la interacción en tiempo real*/
.canvasMicrobitA{

  display:block;
  margin:0 auto;
  border:1px solid black;
  background-color: white;

}

.canvasMicrobitB{

  display:block;
  margin:0 auto;
  border:1px solid black;
  background-color: white;

}

/* El nombre del jugador A y el nombre del Jugador B, con sus colores y alineaciones */
.namePlayerA{
  font-weight:800;
  color:#293f39;
  text-align:center;
}

.namePlayerB{
  font-weight:800;
  color:#3d1d46;
  text-align:center;
}


/* La ultima letra fallida del reto letras */
.lastLetterFailed{
  font-weight:800;
  color:red;
  text-align:center;
}

/* La primera temperatura registrado del reto temperatura*/
.firstTemperatura{
  font-weight:800;
  color:red;
  text-align:center;
}


/* El programa actual , alineado en el centro del contenedor*/
.mainTitleProgram{
  text-align:center;
}


/* Contenedor principal, que ocupa toda la pantalla menos los 230px del menú lateral*/

#principal{
  margin-left:232px;
  margin-right:0px;
  max-width: calc(100vw - 232px);
  width: calc(100vw - 232px);
  background-color: #f1f1f0;

}

/* El color del contenedor principal */

#mainNav{
  background-color: #292F36;
}
